body{
    background-color: #051122;
}

body h2{
    font-family: 'Acme', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}

#top{
    padding-bottom:5px;
}

#artwork{
    background-image: url(https://static.tibia.com/images/global/header/background-artwork.jpg);
    background-repeat:no-repeat;
    background-position-x:center;
    min-height: 800px;
}

.container{
    background: #fff2d8;
}

.mobile-icon{
    font-size:2rem;
    padding:10px;
    margin-right:0;
}

.main-nav{
    border-bottom: 3px solid #8a6b0f;
}

#online-counter-container{
    text-align: right;
}

.martel { font-family: 'martelregular', Arial, sans-serif; }

.martel-l { 
    font-family: 'martelregular', Arial, sans-serif; 
    font-size: 2rem;
    line-height: 44px;
    letter-spacing: 0.037em;
    font-weight: 600;
}
.hero h1{
    line-height:5rem;    
    color:#fff;
    font-size:2rem;
}
.navbar-light .navbar-brand{
    color: #8a6b0f;
}
.tibia-border{
    border: 4px solid transparent;
    padding: 0px;
    border-image: url(../img/borders.png) 4 round;
}

.wrapper{
    padding:10px;
}

/*links in footer blend with background, experiment with colors later*/
.page-footer{
    color: #ffffff; 
}

.placeholder{
border: 1px solid black;
}

.container img{
max-width: 100%;
}

/*donuts start*/
.donut-chart svg {
	pointer-events: none;
  height: 100%;
}
.donut-chart svg path {
	fill: none;
	stroke-width: 35px;
	stroke: #f7c11f;
}
.donut-chart {
	width: 200px;
	height: 200px;
	position: relative;
	display: inline-block;
}
.donut-chart p {
	margin: 0;
	position: absolute;
	top: 20%;
	left: 0;
	width: 100%;
	text-align: center;
    font-size: 1.5em;
    color:#fff;
}
.donut-chart span {
	display: block;
	font-size: 1.5em;
}
/*donuts over*/

@media (min-width: 768px) { 
    .hero h1{
        font-size:5rem;
    }
}