body{
    background-color: #051122;
}

body h2{
    font-family: 'Acme', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}

#artwork{
    background-image: url(https://static.tibia.com/images/global/header/background-artwork.jpg);
    background-repeat:no-repeat;
    background-position-x:center;
    min-height: 800px;
}

.container{
    background: #fff2d8;
}

.mobile-icon{
    font-size:2rem;
    padding:10px;
    margin-right:0;
}

.main-nav{
    border-bottom: 3px solid #8a6b0f;
}

#online-counter-container{
    text-align: right;
}

.martel { font-family: 'martelregular', Arial, sans-serif; }

.martel-l { 
    font-family: 'martelregular', Arial, sans-serif; 
    font-size: 2rem;
    line-height: 44px;
    letter-spacing: 0.037em;
    font-weight: 600;
}
.hero h1{
    color:#fff;
    font-size:3rem;
}
.navbar-light .navbar-brand{
    color: #8a6b0f;
}
.tibia-border{
    border: 4px solid transparent;
    padding: 0px;
    border-image: url(../img/borders.png) 4 round;
}

.wrapper{
    padding:10px;
}

/*links in footer blend with background, find a fix*/
.page-footer{
    color: #ffffff; 
}